name: Release
on:
  push:
    branches:
      - master
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #
      - name: Release
        if: github.ref == 'refs/heads/master'
        uses: gembaadvantage/uplift-action@v2
        with:
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} #
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
